#block1{
  height:100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  padding-left: 20px;
  width: 80%;
  overflow: hidden;


}


#subblock1 {
  float: left;
  width:18%;
  margin: 5px 0px 0px 0px;
  padding-left: 40px;
  background-color: lightgray;
  border-right: 1px solid blue;
}

#subblock1 h5{
  float: left;
  font-weight: lighter;
  font-size: 20px;
  padding-left: 10px;

}



#subblock1 i{
  float: left;
padding-top: 40px;
color: blue;
}

#subblock2 {
  float: left;
  width:18%;
  margin: 5px 0px 0px 0px;
  padding-left: 40px;
  background-color: lightgray;
  border-right: 1px solid blue;
}

#subblock2 h5{
  float: left;
  font-weight: lighter;
  font-size: 20px;
  padding-left: 10px;
}



#subblock2 i{
  float: left;
padding-top: 40px;
color: blue;
}


#subblock3 {
  float: left;
  width:20%;
  margin: 5px 0px 0px 0px;
  padding-left: 40px;
  background-color: lightgray;
  border-right: 1px solid blue;
}

#subblock3 h5{
  float: left;
  font-weight: lighter;
  font-size: 20px;
  padding-left: 10px;
}



#subblock3 i{
  float: left;
padding-top: 30px;
color: blue;
}



#subblock4 {
  float: left;
  width:18%;
  margin: 5px 0px 0px 0px;
  padding-left: 40px;
  padding-right: 30px;
  background-color: lightgray;
  border-right: 1px solid blue;
}

#subblock4 h5{
  float: left;
  font-weight: lighter;
  font-size: 20px;
  padding-left: 10px;
}



#subblock4 i{
  float: left;
padding-top: 40px;
color: blue;
}

#block2 td{

margin: auto;
border-bottom: 1px solid;
border-color: blue;
border-left: 1px solid blue;
text-align: inherit;


}

#block2 i,p{

float: left;

}

#block2 i{

padding-right: 20px;


}

#block2 p,h4{

padding-left: 20px;
margin-top: 0px;
text-align: left;

}

#block2 {

margin-left: 300px;

}

#block3 img{
  float: left;

  padding-left: 450px;
  height: 70%;
}



#block7 span img{
position: absolute;
padding-left: 0px;
width:10%;

}

#block2 td:nth-child(1){
  border-width: 1px 1px 1px 0px;
}
