
		#header{
			background-color: white;
			color: #000;
		 height: 80px;

		}
		#logo h4{
			float:left;
			padding: 0px 0px 0px 50px;
      font-size: 30px;
			margin: 0px 0px 0px 0px;
		}


		#menu li{
			float: left;
			padding-left: 65px;
			padding-top: 10px;
      font-size: 15px;
			list-style-type: none;

		}

		#menu i{
			float: left;
			padding-left: 15px;
			padding-top: 10px;


		}

    #bannerdetails {
      margin: auto;
      padding-top:350px;
      text-align: center;
      color: purple;

    }

		#bannerdetails p{
			margin: auto;
			padding-left: 480px;

		}

    h2{

      font-size: 40px;
      font-weight: 100;
      padding-left: 20px;
      margin: 0px 20px 0px 20px;


    }
    #box1{

      border:2px solid ;
      border-radius: 30px;
      width:120px;
      height:20px;
      margin:auto;
      font-size: 15px;
    }

		#block5{
			margin-top: 20px;
			overflow: hidden;
		}

		#block51{
			float: left;
			width:50%;
			margin-top: 70px;


		}

		#box2{
      border:2px solid blue;
			font-size: 15px;
			border-radius: 5px;
			margin:auto;
			width:20%;
			text-align: center;
		}

		#block5 h3{
			font-size: 30px;
			text-align: left;
			padding-left: 180px;


		}

		#block5 p{
			font-size: 20px;
			text-align: left;


		}

		#block52{

			float: left;
			margin-top: 30px;
			padding-left: 60px;
			width: 40%;
			height: 180px;
		}

p{ font-size: 20px;
}

#icon{

  width:10px;

}

#block21{
      margin:auto;
      border-bottom: 1px solid;
      height:60px;
      padding-top: 30px;
}
span{

  padding-left: 300px;
  font-size: 20px;
}

#block31{
 margin:auto;
 text-align: center;
 overflow: hidden;

}

#block31 p{
 margin:auto;
 text-align: center;
 overflow: hidden;
 padding-left: 550px;

}

#block31 h5{

 text-align: center;
 padding-bottom: 8px;

}
#icons span{
  font-size: 40px;
  padding-left: 0px;
  margin-top: 140px;
  color: white;
}


#subblock31{
	float: left;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: grey;
	margin-left: 30px;
  width: 30%;

}

#subblock32{
	float: left;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: grey;
	margin-left: 30px;
  width: 30%;

}

#subblock33{
	float: left;
  border-top: 1px solid;
  border-bottom: 1px solid;
	margin-left: 30px;
  border-color: grey;
  width: 30%;

}
#block4{

height:80%;
overflow: hidden;


}

#block12 td,tr{

border: 1px solid blue;
border-collapse: collapse;

}
